.ml-image-shipping
  padding: 0px !important

.container-description
  margin-top: 10px

.row
  display: flex
  flex-wrap: wrap

.col-image-result
  flex: 0 0 26%
  max-width: 20%
  padding: 14px

.col-description-result
  flex: 1 1 75.333333%
  max-width: 58.333333%
