.breadcrumb-ml
    color: #666
    padding: 0.7rem 0rem
    font-size: 13px
    display: flex
    flex-wrap: wrap
    list-style: none
    margin-bottom: -0.9rem
    margin-top: 0.3rem

.breadcrumb-item-ml
    color: #b2b2b2
    & + .breadcrumb-item-ml
        padding-left: 0.5rem

.breadcrumb-item-ml
    & + .breadcrumb-item-ml
        &::before
            float: left
            padding-right: 0.5rem
            color: #b2b2b2
            content: ">"
