.loading
    text-align: center
    color: #525353

.description-ml
    p
        font-size: 16px
        color: #999999

.margin-ml-detail
    margin-top: 32px
    margin-bottom: 40px
    &-left
        margin-left: 40px

.margin-ml-detail
    margin-top: 32px

.quantity-ml-text
    color: #827c7c
    font-size: 16px
    margin-bottom: 16px

.title-ml-product
    font-size: 24px
.title-ml-description-prod
    font-size: 28px

.col-detail-product
    flex: 40 0 78.333333%
    max-width: 70.333333%
    margin-top: 33px

.col-detail-product img
    display: block
    margin-right: auto
    margin-left: auto
    width: 680px
    height: 680px
    object-fit: contain

.col-detail-price
    flex: 0 0 25%
    max-width: 25%

.title-ml-product
    font-size: 24px

.container-ml-description-prod
    margin-top: 8%

.price-ml-product
    font-size: 46px
