.content-results-ml
  margin-top: 16px

.card
  border: 1px solid rgb(0 0 0 / 3%) !important
  position: relative
  display: flex
  flex-direction: column
  min-width: 0
  word-wrap: break-word
  background-color: #fff
  background-clip: border-box
  border-radius: 0.25rem

.item-result-ml
  cursor: pointer

.item-result-ml
  img
    padding: 16px
    border-radius: 4px
    border: 1px solid #eee

.search-result-products-ml
  width: 180px
  height: 180px

  .item-result-ml
  .container-description
    margin-left: -4%
  .ml-item-title
    margin-bottom: 15px

.ml-item-description
  font-size: 18px
  font-weight: 500

.card-body
  flex: 1 1 auto
  min-height: 1px
  padding: 1.25rem
