$ml-background: #EEEEEE
$ml-yellow: #ffe600

.navbar-ml
    width: 100%
    background-color: $ml-yellow
    position: relative
    display: flex
    align-items: center

.nav-margin
    margin-top: 5px
    margin-bottom: 5px

.navbar-expand-ml
    flex-flow: row nowrap
    justify-content: flex-start

.navbar-expand-ml>.container
    flex-wrap: nowrap

.navbar-ml .container, .navbar-ml
    display: flex
    align-items: center
    justify-content: space-between

.navbar-expand-ml
    .navbar-collapse
        display: flex!important

.navbar-collapse
    flex-basis: 100%
    flex-grow: 1
    align-items: center

.search-ml
    width: 100%

.d-flex
    display: flex!important
