body
  margin: 0
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #212529
  text-align: left
  background-color: #eee

*:focus
  outline: none

.container
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  max-width: 980px

.btn-ml
  display: inline-block
  font-weight: 400
  cursor: pointer
  color: #212529
  text-align: center
  vertical-align: middle
  -webkit-user-select: none
  user-select: none
  background-color: transparent
  border: 1px solid transparent
  padding: 0.375rem 0.75rem
  font-size: 1rem
  line-height: 1.5

.btn-block
  display: block
  width: 100%

.btn-ml
  background-color: #eeeeee

.btn-primary-ml
  color: #fff
  background-color: #007bff
  border-color: #007bff
  border-radius: 5px

.btn-primary-ml
  &:hover
    color: #fff
    background-color: #0069d9
    border-color: #0062cc

.btn-light-ml
  padding: 0
  cursor: pointer
  box-sizing: border-box
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
  border: none
  width: 36px

.btn-light-ml
  &:hover
    color: #212529
    background-color: #e2e6ea
    border-color: #dae0e5

.form-ml
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  font-size: 18px
  border: none
  width: 100%
  padding: 7.5px 15px
  color: #333
  -webkit-flex: 1 1
  flex: 1 1
  box-sizing: border-box

.navbar-brand
  display: inline-block
  padding-top: 0.5rem
  padding-bottom: 0.3125rem
  margin-right: 2rem
  font-size: 1.25rem
  line-height: inherit
  white-space: nowrap

img
  vertical-align: middle
  border-style: none

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
  margin-bottom: 0.5rem
  font-weight: 500
  line-height: 1.2
